#footer{
    position: absolute;
    background-color: black;
    color: white;
    width: 100%;
    font-family: cursive;
    text-align: center;
}
#photos{
    width: 100%;
    border-top: salmon;
    max-height: 2%;
    display: flex;
}
img{
    float: inline;
    margin-left: 0px;
    padding: 0px;
    border: 0px;
}
#photos li{
    display: inline-block;
    color: black;
    background-color: white;
    position: relative;
}
a:link{
    color: red;
    font-family: sans-serif;
}
a:visited{
    font-weight: lighter;
    background-color: rgb(203, 206, 203);
    color: rgb(223, 167, 12);
}
a:hover{
    background-color: black;
    color: cornsilk;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#form{
    width: 100%;
    min-height: 95%;
    text-align: center;
    background-color: mediumturquoise;
}