#footer{
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
    margin-bottom: 0;
}
#photos{
    width: 5%;
    border-top: salmon;
    max-height: 2%;
    display: flex;
}
img{
    display: inline;
    justify-content: space-evenly;
    width: 200px;
    height: 200px;
    object-fit: fill;
}
#photos li{
    display: inline-block;
    color: black;
    background-color: white;
    position: relative;
}
a:link{
    color: red;
    font-family: sans-serif;
}
a:visited{
    font-weight: lighter;
    background-color: rgb(203, 206, 203);
    color: rgb(223, 167, 12);
}
a:hover{
    background-color: black;
    color: cornsilk;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#other{
    border-style: double;
    background-color: #e6e6d4;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
#nature{
    float: left;
    background-color: green;
    margin-left: 0;
}
.pets{
    float: right;
    margin-right: 0;
}
html,body{
    background-image: url("https://cdn.mos.cms.futurecdn.net/ntFmJUZ8tw3ULD3tkBaAtf-970-80.jpg.webp");
    width: 100%;
    overflow: scroll;
}