#top-header{
    font-family: monospace;
    font-weight: 700;
    position: relative;
    top: 0px;
}
#content {
    margin: 1%;
    font-family: serif;
    display: block;

}
#personal{

}
#other{
    padding: 5%;

}
#footer{
    font-family: cursive;
    font-style: italic;
    position: absolute;
    bottom: 0;
    width: 100%;

}