body{
    
}
#top-header{
    font-family: monospace;
    font-weight: 700;
    position: relative;
    top: 0px;
}
#content {
    margin: 1%;
    font-family: serif;
    position: absolute;
    overflow: auto;
    display: block;
    padding: 0px;

}
#personal{

}
#other{

}
#footer{
    font-family: cursive;
    font-style: italic;
    position: absolute;
    bottom: 0px;
}